*{
      margin:0;
      padding:0;
      box-sizing:border-box;
      font-family:Arial;
    }

    body{
      background:#f5f5f5;
      scroll-behavior: smooth;
    }

    /* Navbar */

    nav{
      background:#222;
      color:white;
      display:flex;
      justify-content:space-between;
      align-items:center;
      padding:15px 50px;
    }

    nav h1{
      color:orange;
      margin-right: 25px;
    }

    nav ul{
      display:flex;
      list-style:none;
      gap:20px;
    }

    nav ul li{
      cursor:pointer;
    }

    /* Hero */

    .hero{
      height:90vh;
      display:flex;
      justify-content:center;
      align-items:center;
      flex-direction:column;
      text-align:center;
      background:linear-gradient(to right,#ff9800,#ff5722);
      color:white;
      padding:20px;
    }

    .hero h2{
      font-size:50px;
      margin-bottom:20px;
    }

    .hero p{
      font-size:20px;
      margin-bottom:20px;
    }

    .hero button{
      padding:15px 30px;
      border:none;
      background:white;
      color:#ff5722;
      font-size:18px;
      border-radius:10px;
      cursor:pointer;
      transition:0.3s;
    }

    .hero button:hover{
      background:#222;
      color:white;
    }
    /* Services */

    .services{
      padding:60px 20px;
      text-align:center;
    }

    .services h2{
      margin-bottom:40px;
      font-size:35px;
    }

    .cards{
      display:flex;
      justify-content:center;
      gap:20px;
      flex-wrap:wrap;
    }

    .card{
      background:white;
      width:250px;
      padding:30px;
      border-radius:15px;
      box-shadow:0 0 10px rgba(0,0,0,0.1);
      transition:0.3s;
    }

    .card:hover{
      transform:translateY(-10px);
    }

    .card h3{
      margin-bottom:15px;
      color:#ff5722;
    }

    /* Workers */
    .search-box{
      text-align:center;
      margin:30px;
    }

    .search-box input{
      width:300px;
      padding:15px;
      border-radius:10px;
      border:1px solid #ccc;
      font-size:16px;
      outline:none;
    }
    .workers{
      padding:60px 20px;
      background:white;
      text-align:center;
    }
    
    .worker-container{
      display:flex;
      justify-content:center;
      gap:20px;
      flex-wrap:wrap;
      margin-top:30px;
    }

    .worker{
      width:250px;
      background:#f5f5f5;
      padding:20px;
      border-radius:15px;
    }

    .worker img{
      width:150px;
      height:100px;
      border-radius:25px;
      margin-bottom:15px;
      -webkit-border-radius:25px;
      -moz-border-radius:25px;
      -ms-border-radius:25px;
      -o-border-radius:25px;
}

    /* Footer */

    footer{
      background:#222;
      color:white;
      text-align:center;
      padding:20px;
      margin-top:40px;
    }
